/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.kaushan-font {
    font-family: 'Kaushan Script', cursive;
    size: 40px;
  }


  .dancing-font {
    font-family: 'Dancing Script', cursive;
  }

  .skills-logo{
    width:90px;
    transition:all 0.5s;
  }


  /* Add this CSS to your existing styles */

/* For small devices (up to 640px width) */
@media (max-width: 640px) {

  .hide{
    display: none;
  }
   
.nav{
  width: auto;
}
  .resume{
    position: relative;
    width: 30%;
    font-size: 1rem;
    font-style: bold;
  }
  .intro-section{
    position: relative;
    left: 0px;
    top: -160px;
    display: flex;
    flex-direction: column;
    
    padding: 8px;
    
    
  }

  .role{
    width: 200px;
    font-size: 1rem;
    padding: 2px;
  }
  
  .icons {
    width: 100%; /* Make icons container take full width */
  }

  .icons i {
    font-size: 1.5rem; /* Adjust icon size for smaller devices */

  }
  .browse{
    position: relative;
    margin-left: -60px;
  }

  .right-side img {
    max-width: 60%; /* Make image responsive */
    height: 250px; /* Maintain aspect ratio */
    width: 200px;
    margin-left: 60px;
    margin-top: 200px;
  }
  .name{
  position: relative;
  margin-left: 15px;
  font-size: 2em;
  }
  .title{
    position: relative;
    margin-left: 10px;
    
    }

    .box2 {
      padding: 0 40px; /* Add padding to the box */
    }

  .skill-section{
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    margin-top: -120px;
    
  }
  .right-skill{
   width: 100%;
   align-items: center;
   justify-content: center;
  }
  .left-skill{
    font-size: 14px;
    text-align: center;
  }
  .heading{
    position: relative;
    margin-left: 0px;
    font-size: 40px ;
  }
  .subHeading{
    width: 400px;
    display: none;
    
  }

  .right-skill{
    gap: 30px;
    width: 350px;

  }
  .skills-logo{
    width: 50px;
    height: 50px;
   
  }

  
}




  
  
